body{
    background: beige;
    
    letter-spacing: 2px;
    word-spacing: 5px;
    line-height: 25px;
    position: relative;
}
header{
    background: black;
    color: blanchedalmond;
    height: 115px;
    /* position: sticky;
    top:0px; */
}
header h1{
    padding: 46px 5px 20px 20px;
  
    font-size: 50px;
    text-align: center;
}
main{
    font-family: "Times New Roman", Times, serif;
    padding: 100px 30px 30px 20px;
    font-size: large;
    font-family: cursive;
    padding: 128px 6%;
    color: rgb(1, 1, 78);
    /* position: relative; */
}
img {
    height: 100px;
    position: absolute;
    right: 25px;
    top: -101px;
}
footer {
    font: -webkit-xxx-large;
    text-align: center;
    background: gray;
    color:honeydew ;
    position: fixed;
    width: 100%;
    bottom: 0px;
}
footer p {
    padding: 10px;

}
h4{
    background: rgba(255, 0, 0, 0.479);
    padding: 3px 0px 3px 25px ;
}
ol{
    list-style: decimal;
    
}
ul{
    list-style: circle;
    
}

nav ul li {
    display: inline-block;
	font-size: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 0px 30px 0px  20px;

}
nav a{
    display: inline-block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    width: 100%;

}
article{
    display: inline-flex;
    margin: 20px;

}
nav ul{
    text-align: center;
}
.top{
    width: 35%;
    display: inline-table;
    margin: 179px 1px;
    padding: 17px 45px;
    border: solid 7px;
    height: 401px;
    border-radius: 25px;
}
.top p{
    text-align: center;
    padding: 20px 0px 20px 0px;
    font-size: 22px;

}
nav{
    position: sticky;
    top:0px;
    background-color: black;
}
